body {
    margin: 0px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.middle_btns {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.middle_btns > button {
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    cursor: pointer;
}
#createpost_modal {
    justify-content: center;
    align-items: center;
}
.modal_content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    width: 80%;
}
form textarea {
    padding: 10px;
    margin: 0px 15px;
    background-color: rgb(232, 232, 232);
    border: 0px;
}
.createpost_submit_btn {
    text-align: center;
    margin: 20px auto;
    width: 100px;
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
