body {
	margin: 0px;
}
#postTitle {
	display: flex;
	font-size: 20px;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    margin: 0px 20px;
}
#postDetails {
	margin: 0px 20px;
}
#userName {
	display: flex;
}
#userName p {
	font-family: 'Alegreya', serif;
	font-size: 20px;
	flex: 1;
}
#postContent {
	font-family: 'Frank Ruhl Libre', serif;
}
.fa-edit {
	font-weight: bold;
}
span {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    width: 70px;
    margin: auto;
    cursor: pointer;
    display: block;
}
[contenteditable] {
    outline: 0px solid transparent;
  }