body {
    margin: 0px;
}
/* post css starts here */
#postTitle {
    display: flex;
    font-size: 20px;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    margin: 0px 20px;
}
#postDetails {
    margin: 0px 20px;
}
#userName {
    display: flex;
}
#userName p {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    flex: 1;
}
#postContent {
    font-family: 'Frank Ruhl Libre', serif;
}
.fa-edit {
    font-weight: bold;
}
span {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    width: 70px;
    margin: auto;
    cursor: pointer;
    display: block;
}
/* post css ends here */
/* disables the blue color outline of posttitle and postcontent when user tries to edit content inside posttitle and postcontent*/
[contenteditable] {
    outline: 0px solid transparent;
}
/* css for like button starts here */
#likepost {
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}
#likepost span {
    float: left;
}
.fa-thumbs-up {
    font-weight: bold;
}
#likepost p {
    color: #9B9A94;
}
/* css for like button ends here */
/* css for comment box starts here */
#comment_box {
    display: flex;
    flex-direction: column;
}
textarea {
    width: 70%;
    min-height: 70px;
    margin: 20px;
    margin-top: 0px;
}
/* disables blue color outline for texarea when user clicks on textarea */
textarea:focus {
    outline: none;
}
#comment_btn {
    padding: 10px;
    margin: 20px;
    margin-top: 0px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 600;
    width: 90px;
}
h3 {
    margin: 5px 20px;
}
#allcomments {
    width: 70%;
    margin: 15px 20px;
    background-color: grey;
    display: flex;
    flex-direction: column;
}
#allcomments p {
    margin: 10px;
    background-color: white;
    padding: 20px;
}
/* css for comment box ends here */