body {
    background-color: #ffeedd;
    margin: 0px;
}
.postslist {
    display: flex;
    flex-wrap: wrap;
}
.postcard {
    width: 100%;
    flex: 0 40%;
    margin: 30px auto;
    display: flex;;
    border-radius: 20px;
}
.postcard:hover {
    box-shadow: 20px 20px 10px rgb(129, 129, 129);
}
.username {
    background-color: white;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}
.postdetails {
    display: flex;
    flex-direction: column;
    background-color: rgb(232, 232, 232);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}
.post_header {
    display: flex;
}
.post_title {
    flex: 1;
    margin: 0px;
    padding: 10px;
    color: grey;
    font-size: 1.3em;
    font-family: 'Rakkas', cursive;
}
.fa-trash {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.post_content {
    max-height: 4.0em;
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0px 10px;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
}
.fa-ellipsis-h {
    float: right;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}
.modal_content {
    background-color: #fefefe;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}
.modal_body p {
    padding: 20px;
    margin: 0px;
    font-size: 1.2em;
}
#yes_btn {
    width: 80px;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: green;
    border: 0px;
}
#no_btn {
    width: 80px;
    padding: 10px;
    margin: 20px;
    float: right;
    color: white;
    background-color: red;
    border: 0px;
}
